/* Reset CSS by Josh Comeau */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6,
em {
	font-weight: normal;
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	/* font-size: inherit; */
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* 
  11. Reset list styling
*/
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* 
   12. Text vertical trim
*/

.text-heading--large,
.text-heading {
	display: inline-block;
}

.text-heading--large::before,
.text-heading::before {
	content: '';
	display: table;
	margin-bottom: calc(-0.5lh + 0.24em);
}
.text-heading--large::after,
.text-heading::after {
	content: '';
	display: table;
	margin-bottom: calc(-0.5lh + 0.46em);
}
em {
	display: inline-block;
}
em::before {
	content: '';
	display: table;
	margin-bottom: calc(-0.5lh + 0.06em);
}
em::after {
	content: '';
	display: table;
	margin-bottom: calc(-0.5lh + 0.31em);
}
