@import url('css-reset.css');
@import url('fonts.css');

:root {
	/* colours */
	--c-beige: #f1f7e6;
	--c-blue: #4f49c4;
	--c-green: #aae6c4;
	--c-purple-light: #cf8cff;
	--c-purple-dark: #3b55b3;
	--c-orange: #ef9d62;
	--c-pink: #941d5f;
	--c-black: #000;
	--c-red: #ed2124;
	--c-gray: #6f6f6f;
	--c-glow: #4f49c4;

	/* spacing */
	--s-xxs: 0.5rem;
	--s-xs: 1rem;
	--s-s: 2rem;
	--s-m: 3rem;
	--s-l: 8rem;
	--s-gap: 20svh;

	/* tilt */
	--tilt-left: -5deg;
	--tilt-right: 5deg;
}

@property --mask-radius {
	syntax: '<length>';
	inherits: false;
	initial-value: 0px;
}

html {
	scroll-behavior: smooth;
	overscroll-behavior-y: none;
}

html.no-scroll,
html.no-scroll body {
	overflow: hidden;
	height: 100%;
}

body {
	/* padding: var(--s-s); */
	font-family: 'STIX Two Text';
	font-size: 1.5rem;
	line-height: 1.175;
	letter-spacing: normal;
	background-color: var(--c-beige);
	height: 100%;
	/* animation: 1.5s fadeIn; */
}
body::before {
	content: '';
	position: fixed;
	inset: 0;
	background-color: inherit;
	pointer-events: none;
	z-index: 999;
	animation: page-reveal 600ms ease forwards;
	animation: 1.5s ease forwards fadeOut;
}

/* TYPOGRAPHY */

.text-heading {
	font-family: 'Mencken';
	font-size: 18rem;
	/* text-transform: uppercase; */
	line-height: 0.725;
}

.text-heading-small {
	font-family: 'Mencken';
	font-size: 14rem;
	line-height: 0.725;
}

.text-glow-l {
	text-shadow: 0 0 10px currentColor;
}

.text-glow-s {
	text-shadow: 0 0 2px currentColor;
}

/* .text-heading:hover {
	cursor: default;
} */

.text-heading::selection {
	background: none;
}

.text-subheading {
	font-family: 'Pantasia';
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: -0.05em;
	/* text-transform: uppercase; */
}

em {
	font-family: 'Nautica';
	font-size: 1.15em;
	/* line-height: 0.85em; */
	font-weight: 800;
	font-style: normal;
	padding-left: -0.01em;
	letter-spacing: normal;
}

.text-heading em,
.text-heading-small em {
	font-size: 100%;
	line-height: inherit;
}

.text-pullquote {
	font-size: 3rem;
	line-height: 1.025;
	letter-spacing: -0.025em;
}

/* .text-body {
	font-size: 1.5rem;
	line-height: 1.2;
	letter-spacing: normal;
} */

.text-caption-mono {
	font-family: 'Pantasia';
	font-size: 0.875rem;
	line-height: 1;
	letter-spacing: -0.05em;
}

.text-subheading span:not(.text-caption-serif),
.text-caption-mono span:not(.text-caption-serif) {
	letter-spacing: -0.15em;
}
.text-caption-serif {
	font-family: 'STIX Two Text';
	font-size: 1rem;
	line-height: inherit;
	letter-spacing: -0.02em;
	/* font-style: italic; */
	/* text-transform: none; */
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: end;
}

.text-indent p:not(:first-of-type) {
	text-indent: var(--s-m);
}

blockquote {
	padding-left: var(--s-m);
}

/* BACKGROUND COLOURS */

.bg-beige {
	background-color: var(--c-beige);
}

.bg-blue {
	background-color: var(--c-blue);
	--c-glow: var(--c-green);
}

.bg-green {
	background-color: var(--c-green);
	--c-glow: var(--c-blue);
}

.bg-purple-light {
	background-color: var(--c-purple-light);
}

.bg-purple-dark {
	background-color: var(--c-purple-dark);
	--c-glow: var(--c-purple-light);
}

.bg-orange {
	background-color: var(--c-orange);
}

.bg-pink {
	background-color: var(--c-pink);
}

.bg-black {
	background-color: var(--c-black);
	--c-glow: var(--c-red);
}

.bg-red {
	background-color: var(--c-red);
}

.bg-glow {
	position: relative;
	overflow: hidden;
}

.bg-glow::after {
	content: '';
	position: absolute;
	z-index: 99;
	inset: -1.5em;
	border: solid 1.25em;
	border-image: radial-gradient(circle, var(--c-glow)) 1;
	filter: blur(1em);
	pointer-events: none;
}

/* TEXT COLOURS */

.cl-black {
	color: var(--c-black);
}

.cl-gray {
	color: var(--c-gray);
}

.cl-blue {
	color: var(--c-blue);
}

.cl-green {
	color: var(--c-green);
}

.cl-purple-dark {
	color: var(--c-purple-dark);
}

.cl-purple-light {
	color: var(--c-purple-light);
}

.cl-pink {
	color: var(--c-pink);
}

.cl-red {
	color: var(--c-red);
}

/* FLEX */

.flex {
	display: flex;
}

.flex--gap-xs {
	gap: var(--s-xxs);
}

.flex--gap-s {
	gap: var(--s-s);
}

.flex--column {
	flex-direction: column;
}

.flex--align-top {
	align-items: top;
}

.flex--align-center {
	justify-content: center;
	align-items: center;
}

.flex--space-between {
	justify-content: space-between;
}

.flex__item--width25 {
	width: 25%;
}

.flex__item--width75 {
	width: 75%;
}

.flex__item--justify-right {
	justify-self: right;
}

/* GRID */

.grid {
	--grid-col: 1;
	display: grid;
	grid-template-columns: repeat(var(--grid-col), minmax(0, 1fr));
	grid-auto-rows: minmax(0, auto);
	align-items: start;
}

/* grid gaps */
.grid--gap-xxs {
	gap: var(--s-xxs);
}
.grid--gap-xs {
	gap: var(--s-xs);
}

.grid--gap-s {
	gap: var(--s-s);
}

.grid--gap-m {
	gap: var(--s-m);
}

.grid--gap-article {
	column-gap: var(--s-s);
	row-gap: var(--s-gap);
}

/* grid columns */
.grid--2-col {
	--grid-col: 2;
}

.grid--3-col {
	--grid-col: 3;
}

.grid--6-col {
	--grid-col: 6;
}

/* grid alignment */
.grid--center {
	justify-items: center;
	align-items: center;
}
.grid--space-between {
	align-content: space-between;
}

.grid--end {
	align-content: end;
}

/* grid items span */
.grid__item--1-col {
	grid-column: span 1;
}

.grid__item--2-col {
	grid-column: span 2;
}

.grid__item--3-col {
	grid-column: span 3;
}

.grid__item--4-col {
	grid-column-end: span 4;
}

.grid__item--5-col {
	grid-column: span 5;
}

.grid__item--full-col {
	grid-column: 1 / -1;
}

.grid__item--stack {
	grid-area: 1 / 1 / 2 / 2;
}

/* grid items alignment */
.grid__item--start-2 {
	grid-column-start: 2;
	/* grid-column: 2 / 6; */
}

.grid__item--center {
	align-self: center;
}

.grid__item--end {
	align-self: end;
}

/* colophon grid border */
.colophon.grid {
	position: relative;
}

.colophon.grid::before {
	content: '';
	position: absolute;
	inset-block: 0;
	inset-inline-start: 50%;
	transform: translateX(-0.5px);
	width: 1px;
	background: var(--c-black);
	pointer-events: none;
}

/* MARGIN */

.mt-xxs {
	margin-top: var(--s-xxs);
}

.mt-s {
	margin-top: var(--s-s);
}

.mt-20 {
	margin-top: 20%;
}

.mb-s {
	margin-bottom: var(--s-s);
}

.mb-20 {
	margin-bottom: 10%;
}

.ml-40 {
	margin-left: 40%;
}

.mr-40 {
	margin-right: 40%;
}

/* PADDING */
.p-xs {
	padding: var(--s-xs);
}

.p-s {
	padding: var(--s-s);
}

.p-nav {
	padding: var(--s-xxs) var(--s-s);
}

.pb-s {
	padding-bottom: var(--s-s);
}

/* WIDTH */

.w-100 {
	width: 100%;
}

/* HEIGHT */

.h-100svh-mp {
	/* minus body padding */
	height: calc(100svh - var(--s-s));
}

.h-100svh {
	height: 100svh;
}

.h-100 {
	height: 100%;
}

/* POSITIONS */
.ps-relative {
	position: relative;
}
.ps-sticky {
	position: sticky;
	top: 0;
}
.ps-tilt-right {
	transform: rotate(var(--tilt-right));
}
.ps-tilt-left {
	transform: rotate(var(--tilt-left));
}

/* IMAGES */

.image-container {
	position: relative;
	border-radius: 2%;
	/* overflow: hidden; */
	max-height: 55%;
	cursor: none;
}

.image-container--2-3 {
	aspect-ratio: 2/3;
}

.image-container--float {
	float: left;
	width: 25%;
	aspect-ratio: 2/3;
	margin-right: var(--s-xs);
	pointer-events: none;
}

/* .image-container--float::after {
	box-shadow: inset 0 0 5px 5px var(--c-beige);
	content: '';
	display: block;
	position: absolute;
	inset: 0;
} */

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: inherit;
	transition: transform 300ms;
}

.image-container__caption {
	position: absolute;
	left: var(--mouse-x);
	top: var(--mouse-y);
	transform: translate(-50%, -100%);
	background: var(--c-beige);
	border: 1px solid var(--c-blue);
	width: 60%;
	/* width: max(220px, 60%); */
	text-align: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 150ms;
	/* overflow: hidden; */
}

.image-container--float .image-container__caption {
	left: 0;
	top: 0;
	width: 100%;
	opacity: 1;
	transform: translateX(calc(-100% - var(--s-xxs)));
	border: none;
	text-align: right;
}

.image-container img:hover {
	transform: scale(1.05);
}

/* Show caption only when hovering the image */
.image-container img:hover + .image-container__caption {
	opacity: 1;
}

/* .image-container--glow::after {
	content: '';
	position: absolute;
	z-index: 99;
	inset: -1.5em;
	border: solid 1.25em;
	filter: blur(1em);
}

.image-container--glow-blue::after {
	border-image: radial-gradient(circle, rgba(79, 73, 196, 1)) 1;
} */

/* .image-container--hover::before {
	content: '';
	background-color: var(--c-black);
	opacity: 0;
	position: absolute;
	inset: 0;
	transition: opacity 300ms;
}

.image-container--hover:hover::before {
	opacity: 0.5;
}

.image-container--orange::before {
	background-color: var(--c-orange);
}

.image-container__caption--hover {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	transition: opacity 300ms;
}

.image-container--hover:hover .image-container__caption {
	opacity: 1;
} */

/* BUTTON */

.button {
	color: inherit;
	border: 1px solid currentColor;
	background-color: transparent;
	transition: background 300ms, color 300ms;
	font-weight: 700;
	padding: var(--s-xxs);
}

/* .button--blue {
	border-color: var(--c-blue);
	color: var(--c-blue);
} */

.button--blue:hover {
	background-color: var(--c-blue);
	color: var(--c-green);
	box-shadow: 0 0 10px 1px var(--c-blue);
}

/* .button--purple-dark {
	border-color: var(--c-purple-dark);
	color: var(--c-purple-dark);
} */

.button--purple-dark:hover {
	background-color: var(--c-purple-dark);
	color: var(--c-purple-light);
	box-shadow: 0 0 10px 1px var(--c-blue);
}

/* .button--pink {
	border-color: var(--c-pink);
	color: var(--c-pink);
} */

.button--pink:hover {
	background-color: var(--c-pink);
	color: var(--c-orange);
}

/* LINKS */

a {
	color: inherit;
	text-decoration: none;
	transition: color 300ms, text-shadow 300ms;
	cursor: pointer;
}

a:hover {
	text-shadow: 0 0 1px currentColor;
}

a.link-underline {
	text-decoration: underline dotted;
	text-decoration-skip-ink: none;
}

a.link-blue:hover {
	color: var(--c-blue);
	text-shadow: 0 0 1px var(--c-blue);
}

/* a.link-green:hover {
	text-shadow: 0 0 5px var(--c-green);
} */

a.link-purple:hover {
	color: var(--c-purple-dark);
	text-shadow: 0 0 1px var(--c-purple-dark);
}

a.link-pink:hover {
	color: var(--c-pink);
	text-shadow: 0 0 1px var(--c-pink);
}

a.link-black:hover {
	text-shadow: 0 0 1px var(--c-black);
}

/* FORM */

form {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	gap: var(--s-xxs);
	/* width: 100%; */
}

label {
	/* hide label */
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

form input {
	background-color: inherit;
	border: 1px solid var(--c-black);
	border-radius: 0%;
	padding: var(--s-xxs);
	transition: box-shadow 300ms;
}

.form-blue input {
	border-color: var(--c-blue);
	color: var(--c-blue);
}

input:focus {
	border-color: var(--c-blue);
	box-shadow: 0 0 15px 1px var(--c-blue);
	outline: none;
}

input::placeholder {
	color: inherit;
	opacity: 0.6;
}

/* DECORATIVE */

.running-heading {
	position: sticky;
	top: 0;
	z-index: 9999;
	display: flex;
	justify-content: space-between;
	padding: var(--s-xxs) var(--s-s);
	border-bottom: 1px solid currentColor;
	border-top: 1px solid currentColor;
	background-color: var(--c-beige);
}

.running-heading.running-heading--dark {
	background-color: var(--c-black);
	justify-content: center;
}

.colophon.running-heading {
	position: fixed;
	inset-inline: 0;
}

.divider {
	border-bottom: 1px solid black;
}

.swatch {
	height: 200px;
}

/* MAGNIFYING */

.magnifying-container {
	position: relative;
	cursor: none;
	text-shadow: 0 0 8px var(--c-red);
}

.magnifying-container:hover {
	cursor: none;
}

.magnifying-container .magnifying-container__mask {
	position: absolute;
	inset: 0;
	pointer-events: none;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	--mask-radius: 0px;
	transition: --mask-radius 1s ease-in-out;
	-webkit-mask-image: radial-gradient(
		circle var(--mask-radius) at var(--mouse-x) var(--mouse-y),
		transparent 0%,
		transparent 98%,
		black 100%
	);
	mask-image: radial-gradient(
		circle var(--mask-radius) at var(--mouse-x) var(--mouse-y),
		transparent 0%,
		transparent 98%,
		black 100%
	);
}

.magnifying-container.active .magnifying-container__mask {
	--mask-radius: 100px;
}

.magnifying-container .magnifying-container__border {
	/* display: none; */
	content: '';
	position: absolute;
	--mask-radius: 0px;
	width: calc(var(--mask-radius) * 2);
	height: calc(var(--mask-radius) * 2);
	border-radius: 50%;
	background: transparent;
	border: 2px solid var(--c-red);
	box-shadow: 0 0 15px var(--c-red);
	left: var(--mouse-x);
	top: var(--mouse-y);
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: --mask-radius 1s ease-in-out;
}

.magnifying-container.active .magnifying-container__border {
	/* display: block; */
	--mask-radius: 100px;
}

.magnifying-container__mask::before,
.magnifying-container::before,
section.noise {
	content: '';
	position: absolute;
	inset: 0;
	background: url('https://thumbs.dreamstime.com/b/white-noise-background-effect-sound-effect-grain-distress-overlay-texture-your-design-grainy-gradient-background-145456887.jpg');
	opacity: 0.1;
	pointer-events: none;
}

/* ANIMATION */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* only use for debugging
.border {
	border: 1px solid black;
} */
