@font-face {
	font-family: 'Mencken';
	src: url('fonts/MenckenStdHeadCompress-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Nautica';
	src: url('fonts/nautica-medium.woff') format('woff');
}

@font-face {
	font-family: 'STIX Two Text';
	src: url('fonts/STIXTwoText-VariableFont_wght.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'STIX Two Text';
	src: url('fonts/STIXTwoText-Italic-VariableFont_wght.woff') format('woff');
	font-style: italic;
}

@font-face {
	font-family: 'Fragment Mono';
	src: url('fonts/FragmentMono-Regular.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'Fragment Mono';
	src: url('fonts/FragmentMono-Italic.woff') format('woff');
	font-style: italic;
}
