@import url('css-reset.css');
@import url('fonts.css');

:root {
	/* colours */
	--c-beige: #f1f7e6;
	--c-blue: #4f49c4;
	--c-green: #aae6c4;
	--c-purple-light: #cf8cff;
	--c-purple-dark: #3b55b3;
	--c-orange: #ef9d62;
	--c-pink: #941d5f;
	--c-black: #000;
	--c-red: #ed2124;
	--c-gray: #6f6f6f;

	/* spacing */
	--s-xxs: 0.5rem;
	--s-s: 2rem;
}

body {
	padding: 2rem;
	font-family: 'STIX Two Text';
	/* background-color: var(--c-beige); */
}

/* TYPOGRAPHY */

.text-heading {
	font-family: 'Mencken';
	font-size: 10rem;
	text-transform: uppercase;
	line-height: 0.8;
	padding-bottom: 0.2em;
}

.text-subheading {
	font-family: 'Fragment Mono';
	font-size: 1rem;
	text-transform: uppercase;
}

.text-subsubheading {
	font-size: 3rem;
	text-transform: uppercase;
}

.text-emphasis {
	font-family: 'Nautica';
	font-size: 110%;
	letter-spacing: normal;
}

.text-pullquote {
	font-size: 3rem;
	line-height: 1.15;
	letter-spacing: -0.025em;
}

.text-body {
	font-size: 1.5rem;
	line-height: 1.2;
	letter-spacing: normal;
}

.text-caption-mono {
	font-family: 'Fragment Mono';
	font-size: 0.75rem;
}

.text-caption-serif {
	font-family: 'STIX Two Text';
	font-size: 0.75rem;
	font-style: italic;
}

/* BACKGROUND COLOURS */

.bg-beige {
	background-color: var(--c-beige);
}

.bg-blue {
	background-color: var(--c-blue);
}

.bg-green {
	background-color: var(--c-green);
}

.bg-purple-light {
	background-color: var(--c-purple-light);
}

.bg-purple-dark {
	background-color: var(--c-purple-dark);
}

.bg-orange {
	background-color: var(--c-orange);
}

.bg-pink {
	background-color: var(--c-pink);
}

.bg-black {
	background-color: var(--c-black);
}

.bg-red {
	background-color: var(--c-red);
}

/* TEXT COLOURS */

.cl-gray {
	color: var(--c-gray);
}

/* FLEX */

.flex {
	display: flex;
}

.flex--align-top {
	align-items: top;
}

.flex--space-between {
	justify-content: space-between;
}

.flex__item--width25 {
	width: 25%;
}

.flex__item--width75 {
	width: 75%;
}

.flex__item--justify-right {
	justify-self: right;
}

/* GRID */

.grid {
	display: grid;
	gap: var(--s-xxs);
}

.grid--2-col {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-col {
	grid-template-columns: repeat(3, 1fr);
}

/* MARGIN */

.mt-xxs {
	margin-top: var(--s-xxs);
}

.mt-s {
	margin-top: var(--s-s);
}

/* BUTTON */

.button {
	border: 1px solid black;
	background-color: transparent;
}

.button--blue {
	border-color: var(--c-blue);
	color: var(--c-blue);
}

.button--blue:hover {
	background-color: var(--c-blue);
	color: var(--c-green);
}

.button--purple-dark {
	border-color: var(--c-purple-dark);
	color: var(--c-purple-dark);
}

.button--purple-dark:hover {
	background-color: var(--c-purple-dark);
	color: var(--c-purple-light);
}

.button--pink {
	border-color: var(--c-pink);
	color: var(--c-pink);
}

.button--pink:hover {
	background-color: var(--c-pink);
	color: var(--c-orange);
}

/* FORM */

form {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	gap: var(--s-xxs);
}

label {
	/* hide label */
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

input {
	border: 1px solid var(--c-pink);
	border-radius: 0%;
	padding-left: var(--s-xxs);
}

input:focus {
	border-color: var(--c-orange);
	outline: none;
}

input::placeholder {
	color: var(--c-gray);
}

/* DECORATIVE */

.divider {
	border-bottom: 1px solid black;
}

.swatch {
	height: 200px;
}
