@import url('css-reset.css');
@import url('fonts.css');

:root {
	/* colours */
	--c-beige: #f1f7e6;
	--c-blue: #4f49c4;
	--c-green: #aae6c4;
	--c-purple-light: #cf8cff;
	--c-purple-dark: #3b55b3;
	--c-orange: #ef9d62;
	--c-pink: #941d5f;
	--c-black: #000;
	--c-red: #ed2124;
	--c-gray: #6f6f6f;

	/* spacing */
	--s-xxs: 0.5rem;
	--s-xs: 1rem;
	--s-s: 2rem;
	--s-m: 3rem;
	--s-l: 8rem;
}

html {
	scroll-behavior: smooth;
}

body {
	/* padding: var(--s-s); */
	font-family: 'STIX Two Text';
	font-size: 1.5rem;
	line-height: 1.2;
	letter-spacing: normal;

	/* background-color: var(--c-beige); */
}

/* TYPOGRAPHY */

.text-heading {
	font-family: 'Mencken';
	font-size: 18rem;
	text-transform: uppercase;
	line-height: 0.725;
}

.text-heading::selection {
	background: none;
}

/* start - trim line height */
.text-heading {
	display: flow-root;
}
.text-heading::before {
	content: '';
	display: table;
	margin-bottom: calc(-0.5lh + 0.24em);
}
.text-heading::after {
	content: '';
	display: table;
	margin-bottom: calc(-0.5lh + 0.46em);
}

/* end - trim line height */

.text-subheading {
	font-family: 'Fragment Mono';
	font-size: 1rem;
	text-transform: uppercase;
}

.text-subsubheading {
	font-size: 3rem;
	text-transform: uppercase;
}

.text-emphasis {
	font-family: 'Nautica';
	font-size: 110%;
	letter-spacing: normal;
}

.text-pullquote {
	font-size: 3rem;
	line-height: 1.025;
	letter-spacing: -0.025em;
}

/* .text-body {
	font-size: 1.5rem;
	line-height: 1.2;
	letter-spacing: normal;
} */

.text-caption-mono {
	font-family: 'Fragment Mono';
	font-size: 0.75rem;
}

.text-caption-serif {
	font-family: 'STIX Two Text';
	font-size: 0.75rem;
	font-style: italic;
	text-transform: none;
}

.text-center {
	text-align: center;
}

.text-indent p {
	text-indent: 8rem;
	text-wrap: pretty;
}

.text-indent p:nth-child(2) {
	text-indent: 0;
}

/* BACKGROUND COLOURS */

.bg-beige {
	background-color: var(--c-beige);
}

.bg-blue {
	background-color: var(--c-blue);
}

.bg-green {
	background-color: var(--c-green);
}

.bg-purple-light {
	background-color: var(--c-purple-light);
}

.bg-purple-dark {
	background-color: var(--c-purple-dark);
}

.bg-orange {
	background-color: var(--c-orange);
}

.bg-pink {
	background-color: var(--c-pink);
}

.bg-black {
	background-color: var(--c-black);
}

.bg-red {
	background-color: var(--c-red);
}

/* TEXT COLOURS */

.cl-gray {
	color: var(--c-gray);
}

.cl-blue {
	color: var(--c-blue);
}

.cl-green {
	color: var(--c-green);
}

/* FLEX */

.flex {
	display: flex;
}

.flex--gap-xs {
	gap: var(--s-xxs);
}

.flex--gap-s {
	gap: var(--s-s);
}

.flex--column {
	flex-direction: column;
}

.flex--align-top {
	align-items: top;
}

.flex--align-center {
	justify-content: center;
	align-items: center;
}

.flex--space-between {
	justify-content: space-between;
}

.flex__item--width25 {
	width: 25%;
}

.flex__item--width75 {
	width: 75%;
}

.flex__item--justify-right {
	justify-self: right;
}

/* GRID */

.grid {
	--grid-col: 6;
	display: grid;
	grid-template-columns: repeat(var(--grid-col), minmax(0, 1fr));
	grid-auto-rows: minmax(0, auto);
	justify-items: start;
}

/* grid gaps */
.grid--gap-xxs {
	gap: var(--s-xxs);
}

.grid--gap-s {
	gap: var(--s-s);
}

.grid--gap-l {
	gap: var(--s-l);
}

/* grid columns */
.grid--3-col {
	--grid-col: 3;
}

.grid--6-col {
	--grid-col: 6;
}

/* grid alignment */
.grid--center {
	justify-items: center;
}

/* grid items span */
.grid__item--3-col {
	grid-column: span 3;
}

.grid__item--4-col {
	grid-column: span 4;
}

.grid__item--5-col {
	grid-column: span 5;
}

.grid__item--full-col {
	grid-column: span 1/-1;
}

/* grid items alignment */
.grid__item--center {
	place-self: center;
}

/* MARGIN */

.mt-xxs {
	margin-top: var(--s-xxs);
}

.mt-s {
	margin-top: var(--s-s);
}

/* PADDING */
.p-xs {
	padding: var(--s-xs);
}

.p-s {
	padding: var(--s-s);
}

.pb-s {
	padding-bottom: var(--s-s);
}

/* WIDTH */

.w-100 {
	width: 100%;
}

/* HEIGHT */

.h-100svh-mp {
	/* minus body padding */
	height: calc(100svh - var(--s-s));
}

.h-100svh {
	height: 100svh;
}

.h-100 {
	height: 100%;
}

/* POSITIONS */
.p-relative {
	position: relative;
}

/* IMAGES */

.image-container {
	position: relative;
	border-radius: 1%;
	overflow: hidden;
}

.image-container--float {
	float: left;
	width: 200px;
	aspect-ratio: 2/3;
	margin-right: var(--s-xs);
}

/* .image-container--float::after {
	box-shadow: inset 0 0 5px 5px var(--c-beige);
	content: '';
	display: block;
	position: absolute;
	inset: 0;
} */

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: inherit;
}

.image-container--glow-blue::after {
	content: '';
	position: absolute;
	z-index: 99;
	inset: -1.5em;
	border: solid 2em;
	border-image: 
		/* adjust gradient as needed, I just used a random palette */ radial-gradient(
			circle,
			rgba(170, 230, 196, 1) 53%,
			rgba(79, 73, 196, 1) 100%
		)
		1;
	filter: blur(1em);
}

.image-container--hover::before {
	content: '';
	background-color: var(--c-black);
	opacity: 0;
	position: absolute;
	inset: 0;
	transition: opacity 300ms;
}

.image-container--hover:hover::before {
	opacity: 0.5;
}

.image-container--orange::before {
	background-color: var(--c-orange);
}

.image-container__caption--hover {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	transition: opacity 300ms;
}

.image-container--hover:hover .image-container__caption {
	opacity: 1;
}

/* BUTTON */

.button {
	border: 1px solid black;
	background-color: transparent;
	transition: background 300ms, color 300ms;
}

.button--blue {
	border-color: var(--c-blue);
	color: var(--c-blue);
}

.button--blue:hover {
	background-color: var(--c-blue);
	color: var(--c-green);
}

.button--purple-dark {
	border-color: var(--c-purple-dark);
	color: var(--c-purple-dark);
}

.button--purple-dark:hover {
	background-color: var(--c-purple-dark);
	color: var(--c-purple-light);
}

.button--pink {
	border-color: var(--c-pink);
	color: var(--c-pink);
}

.button--pink:hover {
	background-color: var(--c-pink);
	color: var(--c-orange);
}

/* LINKS */

a {
	color: inherit;
	text-decoration: none;
	transition: color 300ms, text-shadow 300ms;
}

.link-blue:hover {
	color: var(--c-blue);
	text-shadow: 0 0 2px var(--c-green);
}

.link-purple:hover {
	color: var(--c-purple-dark);
	text-shadow: 0 0 2px var(--c-purple-light);
}

.link-pink:hover {
	color: var(--c-pink);
	text-shadow: 0 0 2px var(--c-orange);
}

/* FORM */

form {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	gap: var(--s-xxs);
}

label {
	/* hide label */
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

input {
	background-color: inherit;
	border: 1px solid var(--c-pink);
	border-radius: 0%;
	padding-left: var(--s-xxs);
}

input:focus {
	border-color: var(--c-orange);
	outline: none;
}

input::placeholder {
	color: var(--c-gray);
}

/* DECORATIVE */

.divider {
	border-bottom: 1px solid black;
}

.swatch {
	height: 200px;
}

/* only use for debugging */
.border {
	border: 1px solid black;
}
