@use 'variables' as v;
/* TYPE STYLES */

body {
	@extend %text-body;
	background-color: var(--c-bg-body);
	color: var(--c-t-body);
}

%text-heading {
	font-family: 'Mencken';
	font-size: var(--fs-heading);
	line-height: 0.725;
}

%text-heading-large {
	@extend %text-heading;
	font-size: var(--fs-heading-large);
}

%text-subheading {
	font-family: 'Pantasia';
	font-weight: 400;
	font-size: var(--fs-subheading);
	i {
		@extend %text-caption-serif;
	}
}

%text-body {
	font-family: 'STIX Two Text';
	font-size: var(--fs-body);
	line-height: 1.175;
	letter-spacing: -0.01em;
}

%text-body-small {
	@extend %text-body;
	font-size: var(--fs-subheading);
}

%text-pullquote {
	font-family: 'STIX Two Text';
	font-size: var(--fs-quote);
	line-height: 1.025;
	letter-spacing: -0.025em;
}

%text-pullquote-large {
	font-family: 'STIX Two Text';
	font-size: var(--fs-quote-large);
	line-height: 0.95;
	letter-spacing: -0.06em;
	font-feature-settings: 'liga' 1;
}

%text-caption-mono {
	font-family: 'Pantasia';
	font-size: var(--fs-caption);
	line-height: 1;
}

%text-caption-serif {
	font-family: 'STIX Two Text';
	font-size: 1rem;
	line-height: inherit;
	letter-spacing: -0.02em;
}

// DEFAULT

figcaption {
	@extend %text-caption-mono;
	i {
		@extend %text-caption-serif;
	}
}

h1 {
	// @extend .trim-heading;
	@extend %text-heading;
}

h2,
h3 {
	@extend %text-subheading;
}

blockquote {
	@extend %text-pullquote;
	padding: v.$s-m 0;
	em {
		margin-left: 0.03em;
	}
}

em {
	font-family: 'Nautica';
	font-size: 1.15em;
	// font-weight: 800;
	font-style: normal;
	letter-spacing: normal;
	height: 0;
}

// TEXT UTILITIES

@mixin text-indent {
	p {
		text-indent: v.$s-l;
	}
	p:first-of-type {
		text-indent: 0;
	}
}

.trim-heading {
	display: inline-block;
	&:has(em)::after {
		display: none;
	}
	&::before,
	&::after {
		content: '';
		display: block;
		height: 0;
		pointer-events: none;
	}
	&::before {
		margin-bottom: calc(-0.5lh + 0.24em);
	}
	&::after {
		margin-bottom: calc(-0.5lh + 0.46em);
	}
}

.trim-script-descender {
	display: inline-block;
	&::before,
	&::after {
		content: '';
		display: block;
		height: 0;
		pointer-events: none;
	}
	&::before {
		margin-bottom: calc(-0.5lh + 0.37em);
	}
	&::after {
		margin-bottom: calc(-0.5lh + 0.5em);
	}
}
