@use 'variables' as v;
@use 'responsive' as *;
/* TYPE STYLES */

body {
	@extend %text-body;
	background-color: var(--c-bg-body);
	color: var(--c-t-body);
}

%text-heading {
	font-family: 'Mencken';
	font-size: var(--fs-heading);
	line-height: 0.725;
	@extend .trim-script;
}

%text-heading-large {
	@extend %text-heading;
	font-size: var(--fs-heading-large);
	letter-spacing: -0.02em;
	@extend .trim-script;
}

%text-subheading {
	font-family: 'Pantasia';
	font-weight: 400;
	letter-spacing: -0.02em;
	font-size: var(--fs-subheading);
	i {
		// @extend %text-caption-serif;
		font-family: 'STIX Two Text';
		font-size: var(--fs-subheading);
	}
}

%text-body {
	font-family: 'STIX Two Text';
	font-size: var(--fs-body);
	line-height: 1.175;
	letter-spacing: -0.01em;
}

%text-body-small {
	@extend %text-body;
	font-size: var(--fs-subheading);
	@include responsive(m) {
		font-size: var(--fs-body);
	}
}

%text-pullquote {
	font-family: 'STIX Two Text';
	font-size: var(--fs-quote);
	line-height: 1.025;
	letter-spacing: -0.03em;
}

%text-pullquote-large {
	font-family: 'STIX Two Text';
	font-size: var(--fs-quote-large);
	line-height: 0.95;
	letter-spacing: -0.05em;
	font-feature-settings: 'liga' 1;
}

.text-pullquote-large {
	@extend %text-pullquote-large;
}

%text-caption-mono {
	font-family: 'Pantasia';
	font-size: var(--fs-caption);
	line-height: 1.1;
	letter-spacing: -0.02em;
}

%text-subscript {
	@extend %text-caption-mono;
	font-size: calc(var(--fs-caption) * 0.8);
	vertical-align: top;
}

%text-caption-serif {
	font-family: 'STIX Two Text';
	font-size: var(--fs-caption);
	line-height: inherit;
	letter-spacing: -0.02em;
	font-feature-settings: 'liga' 1;
}

// DEFAULT

figcaption {
	@extend %text-caption-mono;
	i {
		@extend %text-caption-serif;
	}
}

h1 {
	// @extend .trim-heading;
	@extend %text-heading;
}

h2,
h3 {
	@extend %text-subheading;
}

blockquote {
	@extend %text-pullquote;
	padding: v.$s-m 0;
	em {
		margin-left: 0.03em;
		font-weight: bold;
		font-feature-settings: 'liga' 0;
	}
}

em {
	font-family: 'Nautica';
	font-size: 1.15em;
	// font-weight: 800;
	font-style: normal;
	letter-spacing: normal;
	line-height: 0;
}

// TEXT UTILITIES

.no-break {
	white-space: nowrap;
}

.trim-script {
	em {
		display: inline-block;
		white-space: nowrap;
	}
	em::before,
	em::after {
		content: '';
		display: block;
		height: 0;
		pointer-events: none;
	}
	em::before {
		margin-bottom: calc(-0.5lh + 0.38em);
	}
	em::after {
		margin-bottom: calc(-0.5lh + 0.36em);
	}
}

.trim-heading {
	display: inline-block;
	&:has(em)::after {
		display: none;
	}
	&::before,
	&::after {
		content: '';
		display: block;
		height: 0;
		pointer-events: none;
	}
	&::before {
		margin-bottom: calc(-0.5lh + 0.24em);
	}
	&::after {
		margin-bottom: calc(-0.5lh + 0.46em);
	}
}

.trim-script-descender {
	display: inline-block;
	&::before,
	&::after {
		content: '';
		display: block;
		height: 0;
		pointer-events: none;
	}
	&::before {
		margin-bottom: calc(-0.5lh + 0.37em);
	}
	&::after {
		margin-bottom: calc(-0.5lh + 0.5em);
	}
}
