---
---

<!DOCTYPE html>
<html lang="en" data-theme="{{ page.theme | default: 'base' }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
		{% if page.styles %} {% if page.styles contains '/' %}
		<link rel="stylesheet" href="{{ page.styles | relative_url }}" />
		{% elsif page.styles %}
		<link rel="stylesheet" href="/css/{{ page.styles }}" />
		{% endif %} {% endif %}
		<!-- <link rel="stylesheet" href="{{ '/css/base.css' | relative_url }}" /> -->
		<!-- <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" /> -->
		<script>
			window.BASE = "{{ site.baseurl | default: '' }}"
		</script>
	</head>
	<body class="{{ page.body_class }}">
		{{ content }}
		<!-- <script src="{{ '/js/main.js' | relative_url }}" defer></script> -->
		<script type="module" src="/js/main.js"></script>
	</body>
</html>
